.inputSearch {
  height: 40px !important;
  border-radius: 7px !important;
  /* width: 340px !important; */
}

.inputSearch svg {
  font-size: 20px;
  position: relative;
  top: 3px;
  color: #969696;
}

.inputSearch input {
  padding: 0px 3px 2px;
  font-size: 14px;
  color: #969696;
}
